.match__container {
    display: grid;
    justify-content: center;
    align-content: start;
}
.match__grid {
    display: grid;
    justify-content: center;
    width: 80vw;
    height: 80vh;
    grid-gap: 20px;
}

.match__grid-cell {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 2px solid black;
}

.match__grid-cell.is-match {
    background-color: green;
}
.match__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 800px;
}
.match__navigation h3 {
    justify-self: start;
}

