body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vw;
}
.match__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.match__grid {
    display: grid;
    justify-content: center;
    width: calc(100vw - 10px);
    aspect-ratio: 2 / 1;
    grid-gap: 20px;
    margin: 0 auto;
}
.match__grid-cell {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: red;
    border: 2px solid black;
}

.match__grid-cell.is-match {
    background-color: green;
}
.match__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 20px;
}
.match__navigation-message {
    z-index: 2;
    margin: 10px auto;
}
.match__navigation h4 {
    margin: 0;
}
@media (min-width: 768px) {
    .match__grid {
        width: 80vw;
    }
    .match__navigation {
        flex-direction: row;
        margin-bottom: 0;
        width: 80vw;
    }
}
